@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .center {
      @apply flex justify-center items-center
    }
  .borderButtonStyle {
      @apply border p-[5px] border-githubBorder rounded-md hover:border-buttonhover mr-1
  }
  .simpleButtonStyle {
      @apply p-1.5 text-sm  hover:bg-repohover rounded-md text-white
  }
  .activeStyle {
      @apply after:block after:absolute  after:-bottom-2 after:bg-aftercolor after:h-0.5 after:w-full after:right-0
  }
  .labelsStyle {
      @apply px-2 inline-flex mr-1 mb-1 justify-center items-center rounded-full border text-xs font-semibold
  }
  .linkStyle {
      @apply border border-githubBorder font-semibold text-white py-[5px] px-3 text-sm
  }
}
